#myheader{
    width: 100%;
}

header{
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
   
    z-index: 1000;
    transition: ease-in-out 0.6s;   
    font-size: 1.2rem;
    width:80%;
   
   
}   

.sticky {
    width:100%;
    position:fixed;
    top: 0;
    background-color: rgb(22, 22, 22);
    z-index: 1000;
    transition: ease-in-out 0.6s;   
  
  }

  


.logo-img a{
    color: white;
   font-size: 2rem;
   font-weight: bold;

}
.nav-content{
    margin-left: 1.8rem;
    margin-right:1.8rem;
}

.logo-img a:hover{
    color: rgb(209, 209, 209);
}



.nav-content:hover{
    color: rgb(153, 153, 153);
}

nav a.nav-button{
    background-color: white;
    color: rgb(22, 22, 22);
    margin-left: 1.8rem;
    margin-right:1.8rem;
    padding: 0.6rem 1.3rem;
    border-radius: 1.8rem;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228);
    font-weight: bold;
}

nav a.nav-button:hover{
    background-color: rgb(226, 88, 101);
    color: white;
    transition-duration: 0.5s;
}
