

html {
    
    height: 100%;
    width: 100%;
   
    background-size: cover;
    overflow-x: hidden;
    box-sizing: border-box;
}

body{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.container{

    margin-left: auto;
    margin-right: auto;
    font-family: open sans;
}


a{
    color: white;
    text-decoration: none;
}



main{
   
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.hero{ 
    
    text-align: center;
    padding-left: 500px;
    padding-right: 500px;
    height: 850px;
    overflow: hidden;
  
}




.hero-img{
    width: 80%;
    position: relative;


}

.city-img{
     position: fixed;
     width: 50%;
     z-index:-5;
     
 }


.display-container{
    background-color: white;
    min-height: 100px;

}


.display{
    max-width: 1024px ;
   
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    
}

.display h1{
    text-align: left ;
    font-size: 4rem;
    font-weight: lighter;
    margin-top: 3rem;
    margin-left: 0.6rem;


} 

.left-col-display{

    margin-top: 1.3rem;
    text-align: left;
    margin-left: 0.6rem;
    font-size: 1.5rem;
    font-weight: light;
}

.right-col-display{
    margin-top: 6rem;
    padding-left: 4rem;
   
}

.display-img{
    width: 100%;
}

.design-container{
    background-image: linear-gradient(#0F2027, #2C5364);
    min-height: auto;

}

.design{
    
    display: flex;
    overflow: hidden;
    max-width:1024px ;
    margin: 0 auto;
}
 


.design-img{
    width:100%;
}

.design h1{
    text-align: left ;
    font-size: 5rem;
    font-weight: lighter;
  
    color: white;
    line-height: 5.5rem;
   

}

.design p{
    font-size: 2rem;
    font-weight: lighter;
    color: white;
    
}

#c{
    background-image:url(images/exposure-1.png);

}

.camera-container{
    min-height: 10px;
    background-color: rgb(255, 255, 255); 
    margin-top: -5rem;

}



.best-camera{
  
  
    max-width: 1024px;
    
    margin: 0 auto;
}


.best-camera h1{
    text-align: center ;
    font-size: 4rem;
    font-weight: lighter;
    color: rgb(22, 22, 22);

}

.best-camera p{
    font-size: 2rem;
    font-weight: lighter;
    color: rgb(22, 22, 22);
    text-align: center;
    padding-bottom: 5rem;
  

}

.selfie-container{
    background-color: rgb(255, 255, 255);
    min-height: 10px;
    margin-top: -2rem;
}



.selfie{
    margin: 0 auto;
    max-width: 1024px;
    display: flex;
    background-color: white;
}

.left-col-selfie{
    flex:1;

}

.selfie-img{
    width: 110%;
    margin-left: -5rem ;
  
}

.right-col-selfie{
    flex:1;
    
}

.right-col-selfie h1{
  
    
    font-size: 5rem;
    font-weight: lighter;      
    color: rgb(22, 22, 22);
 

   
}

.right-col-selfie p{
    font-size: 2rem;
    font-weight: lighter;
    color: rgb(22, 22, 22);
   
 
}

.battery-container{
    background-color: rgb(22, 22, 22);

}


.battery{
    max-width: 1024px;
   margin: 0 auto;
    color: white;
    display: flex;
    overflow: hidden;
}

.left-col-bat{
    flex: 3;
}

.left-col-bat h1{
    text-align: left ;
    font-size: 5rem;
    font-weight: lighter;
    color: white;
    line-height: 5.5rem;



}

.left-col-bat p{
    font-size: 2rem;
    font-weight: lighter;
    color: white;
    


}

.right-col-bat{
    flex:1;
}

.five-container{
    background-color: white;
    min-height: 100px;

}


.five{
    display: flex;
    margin: 0 auto;
    max-width: 1024px;


}

.left-col-5g{
    flex:1;

}


.right-col-5g{
    flex:1;
}

.right-col-5g h1{
    text-align: left ;
    font-size: 5rem;
    font-weight: bold;
    color: rgb(22, 22, 22);
    line-height: 5.5rem;
   


}

.right-col-5g p{
    font-size: 2rem;
    font-weight: lighter;
  
  

}

.buy-now{
    background-image: url(images/buy-now.png);
    text-align: center;
    min-height: 410px;
  
}

.buy-now a{
    margin:50px;
    margin-left: -8rem;
    position: absolute;
    padding: 10px 25px;
    background-color: white;
    color: rgb(22, 22, 22);
    border-radius: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228);
    font-weight: bold;
    font-size:2rem ;
}



footer{
    margin-top: -2rem;
    min-height: 200px;
    background-color: rgb(22, 22, 22);
    text-align: center;
    color: white;
}

footer h1{
    padding-top: 4rem;

}

footer a{
    padding: 5px 15px;
}


